:root {
  --primary-color: #eb327a;
  --secondary-color: #00c5cf;
  --tertiary-color: #e0f7f8;
  --heading-font: BlackMango-SemiBold;
  --subheading-font: Gayathri;
  --paragraph-font: Gayathri;
  --button-font: BlackMango-SemiBold;
}

@font-face {
  font-family: BlackMango-Thin;
  src: url("/fonts/BlackMango-Thin.otf");
}
@font-face {
  font-family: BlackMango-Regular;
  src: url("/fonts/BlackMango-Regular.otf");
}
@font-face {
  font-family: BlackMango-ExtraLight;
  src: url("/fonts/BlackMango-ExtraLight.otf");
}
@font-face {
  font-family: BlackMango-Bold;
  src: url("/fonts/BlackMango-Bold.otf");
}
@font-face {
  font-family: BlackMango-SemiBold;
  src: url("/fonts/BlackMango-SemiBold.otf");
}

nav ul {
  padding: 36px 30px;
  margin-bottom: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 50px;
  letter-spacing: 1px;
}
nav a {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

h1 {
  font-family: var(--heading-font);
  font-size: 100px;
  color: var(--primary-color);
}
h2 {
  font-family: var(--subheading-font);
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 5px;
  color: var(--primary-color);
}
h3 {
  font-family: var(--heading-font);
  font-size: 45px;
  color: var(--primary-color);
}
p {
  font-family: var(--paragraph-font);
  font-weight: 100;
  font-size: 21px;
  color: #6e686e;
  line-height: 26px;
  letter-spacing: 2px;
}
img {
  border-radius: 10px;
}

footer .contact-box {
  background-color: var(--tertiary-color);
  padding: 46px 38px;
  border-radius: 4px;
}

footer .social-links a {
  font-size: 25px;
  margin: 2px 20px;
  color: var(--primary-color);
  background-color: #fdeef4;
  padding: 10px 18px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  transition: all 100ms ease-in-out;
}
.carousel {
  margin: 0 400px;
}
.logo {
  max-width: 99px;
}
.hero {
  background-color: var(--tertiary-color);
  text-align: center;
  margin-bottom: 30px;
  padding: 190px 20px;
}
.btn-branding {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
  border-radius: 4px;
  margin-top: 35px;
  padding: 10px 20px;
  font-size: 15px;
  font-family: var(--button-font);
  letter-spacing: 2px;
}
.btn-branding:hover {
  background-color: white;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.btn-branding:focus {
  outline: none;
  box-shadow: none;
}
.btn-branding-outline {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 15px;
  font-family: var(--button-font);
  letter-spacing: 2px;
}
.btn-branding-outline:hover {
  background-color: white;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-branding-outline:focus {
  outline: none;
  box-shadow: none;
}
.project-description {
  padding: 60px 38px;
}
.content-container {
  padding: 30px 20px;
}
.content-container h1 {
  font-size: 54px;
}
.content-container h2 {
  font-size: 23px;
}
.content {
  padding: 60px 50px;
}
.content-paragraph {
  padding-top: 30px;
}
.content-paragraph p {
  font-size: 15px;
}
.contact-details {
  padding: 40px 0;
}
.contact-links {
  text-decoration: none;
  font-family: var(--paragraph-font);
  font-weight: 100;
  font-size: 21px;
  color: #6e686e;
  letter-spacing: 2px;
  padding: 16px 0;
}
.contact-links:hover {
  color: var(--primary-color);
}
@media (max-width: 992px) {
  nav a {
    font-size: 13px;
    letter-spacing: 0;
  }
  nav li {
    margin-left: 12px;
  }
  nav ul {
    padding: 17px 18px;
  }
  h1 {
    font-size: 68px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
  footer .social-links a {
    font-size: 21px;
    margin: 2px 16px;
    padding: 3px 10px;
    border-radius: 50%;
  }

  .project-description {
    padding: 0 3px;
    text-align: center;
  }
  .hero {
    padding: 90px 4px;
  }
  .content-container h1 {
    font-size: 45px;
  }
  .content-container h2 {
    font-size: 16px;
  }
  .content {
    padding: 0 10px;
  }
  .content-container {
    padding: 30px 20px;
    text-align: center;
  }
  .logo {
    max-width: 60px;
    max-height: 60px;
  }
  .carousel {
    margin: 0;
  }
}
