:root {
  --primary-color: #eb327a;
  --secondary-color: #00c5cf;
  --tertiary-color: rgb(240, 255, 253);
}

body {
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  color: var(--primary-color);
}
h2 {
  font-size: 18px;
  font-weight: 200;
  color: var(--primary-color);
}
h3 {
  font-weight: 600;
  font-size: 50px;
  color: var(--primary-color);
}

h5 {
  font-weight: 200;
  color: var(--primary-color);
}
p {
  color: #663f4e;
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 3rem;
}

.hero {
  background-color: var(--tertiary-color);
  text-align: center;
  margin: 30px 0;
  padding: 180px 20px 200px;
}
.btn-branding {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
  border-radius: 4px;
  margin-top: 35px;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 200;
}
.btn-branding:hover {
  background-color: white;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.btn-branding:focus {
  outline: none;
  box-shadow: none;
}
.btn-branding-outline {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 200;
}
.btn-branding-outline:hover {
  background-color: white;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-branding-outline:focus {
  outline: none;
  box-shadow: none;
}
.project-description {
  padding: 110px 60px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 68px;
  }

  h3 {
    font-size: 30px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
